a:link {
    color: blue;
    text-decoration: none;
    border: 0px;
}

a:visited {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

.active {
    color: red;
}
body {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right:auto;
    }

.title {
    margin-top: 30px;
    margin-bottom: -3px;
    font-family: 'Montserrat', 'cursive';
    color: #D1CACA;
    font-size: 40px;
}
form {
    width: 300px;
    display: inline-block;
    margin-left: auto;
    margin-right:auto;
    color: darkgray;
    font-family: "lucida console";
    font-size: 17px;
}
form-lbl {
    display: inline-block;
    color: darkgray;
}
#widthInput, #heightInput, #horizLitesInput, #vertiLitesInput, select{
    display:inline-block;
    padding: 2px;
    width:150px;
    opacity:.9;
    margin-top: 5px;
    }
#Reinforcement {
      margin-left: 10px;
      padding-top: 6px;
      padding-bottom: 6px;
      border-radius: 4px;
      background-color: white;
}
#calculate_btn {
        width: 300px;
        margin-top: 10px;
        color: gray;
        opacity:.8;
        padding: 7px;
        font-family: sans-serif;
}

#reset_btn {
    width: 300px;
    margin-top: 5px;
    color: gray;
    opacity:0.7;
    padding: 6px;
    }

#NOA {
    display: inline-block;
    margin-bottom: 20px;
    color: #6C71B9;
}
#container_box {
    margin-bottom: 20px;
}

#PSF_Result {
    display:inherit;
    margin-top:15px;
    width:600px;
    text-align: left;
    }
#J1, #J1_Alum, #M1, #M2, #M3_S, #M3_CRS {
    display: none;
    padding-right: 10px;
    width: 200px;
    height: 200px;
    }
#warningIcon {
display: none;
width: 130px;
height: 130px;
padding: 5px;
transition: 1s;
}

h1 {
    color: white;
    font-family: 'Trebuchet MS';
    font-size: 60px;
}
#cgiLogo {
    margin-top:40px;
    opacity: 0.9;
    width: 450px;
    height: 150px;
}

#formContainer {
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: -webkit-center;
  }
#drawingContainer {
  display:inline-block;
  padding-left:10px;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  width:40%;
  height:inherit;
}
.activeWarning {
  background-color: #FFA500;
  width: 300px;
  height: 55px;
  border-radius: 5px;
  transition: 1s;
  color: white;
  padding: 5px;
  margin-bottom: -20px;
}
.dropdown, .container{
  text-align: left;
  display: inline-block;
  }

.PSF_Result_Div {
  background: #48B748;
  border-radius: 20px;
  color: white;
  padding: 10px;
  width: 130px;
  height: 39px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
